#demo {
    word-break: break-all;
}

#div1 {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);

}

#div1::before,
#div1::after {
    content: '';
    display: block;
    border-radius: 50%;
}

@media (max-width: 500px) {
    #demo {
        height: 50vh;
        overflow: auto;
    }

    .divwrapper {
        height: 50vh;
    }

    #div1 {
        position: relative;
        top: 0;
        right: 0;
    }

}